#weatherId {
    display: none;
}

body {

    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

/*
#currentWeather {
    background-color: rgba(455, 455, 455, 0.5);
}
*/
#currentWeather > div {
    color: whitesmoke;
    text-shadow: 2px 1px black;
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 4em;
    color: whitesmoke;

}

#currentDate {
    font-family: 'Open Sans', sans-serif;
    font-size : 2em;

}

.wi {
    color : whitesmoke;
}

#weather, #temperature {
    font-family: 'Open Sans', sans-serif;
    font-size: 15em;
}

#wind, #humidity {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

.content-webcams{
    margin-top: 10%;
    width: 80%;
    margin-left: 13%;
    margin-right: auto;
}

.card{
    margin: 10px;
    text-align: center;
}
.card-body{
    min-height: 173px;
}
#carouselExampleIndicators{
    height: 95%;
    width: 100%;
}

.carousel-inner{
    height: 95%;
    width:100%;
}
html,body{
    height:100%;
    overflow-y: hidden;
}
.carousel,.carousel-item,.active{
    height:95%;
}
.carousel-inner{
    height:95%;
}

.carousel-control-prev-icon{
    width: 50px;
    height: 50px;
}
.carousel-control-next-icon{
    width: 50px;
    height: 50px;
}
#titreVille{
    font-size: 60px;
    margin-top: 30px;
    text-shadow: 2px 1px black;
}