#weatherId {
    display: none;
}

body {

    background-size: cover;
    background-attachment: fixed;
}

/*
#currentWeather {
    background-color: rgba(455, 455, 455, 0.5);
}
*/
#currentWeather > div {
    color: whitesmoke;
    text-shadow: 2px 1px black;
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 4em;
    color: whitesmoke;

}

#currentDate {
    font-family: 'Open Sans', sans-serif;
    font-size : 2em;

}

.wi {
    color : whitesmoke;
}

#weather, #temperature {
    font-family: 'Open Sans', sans-serif;
    font-size: 20em;
}

#wind, #humidity {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}