#weatherId {
    display: none;
}

body {
    background-size: cover;
    background-attachment: fixed;
}


#currentWeather {
    background-color: rgba(455, 455, 455, 0.5);
    margin-left: 33%;
    width: 33%;

}